* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header nav {
  display: none;
}
header i {
  color: #999999;
}
h4 {
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
  padding-top: 1em;
}
h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #111111;
}
p {
  color: #111111;
  font-size: 20px;
  line-height: 150%;
}
a {
  font-size: 20px;
  line-height: 100%;
  text-decoration: none;
  color: #555555;
}
a#sign-up {
  color: #ff3998;
}
section.hero {
  max-width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 3em;
}
.hero img {
  height: 430px;
  position: absolute;
  right: -200px;
  top: -50px;
}
.hero .text {
  width: 71.5%;
  padding-left: 2rem;
}
.text p {
  color: #555555;
}
.text button {
  padding: 1rem 2.5rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  border: 4px solid #0000;
  border-radius: 100px;
  background: linear-gradient(white, white) padding-box,
    url(/assets/background.svg) border-box;
  background-size: cover;
  background-repeat: space;
  background-position: right;
}
section.upsell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(/assets/background.svg);
  background-size: cover;
  background-position: center;
  padding: 2em;
}
h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #111111;
}
.upsell h2 {
  margin-top: 1.8em;
}
.upsell p {
  margin: 0;
}
section.press {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 1em;
  padding: 4em 2em;
}
img[alt="OpenDoor"] {
  display: none;
}
.press a:first-child {
  width: 138px;
  overflow: hidden;
}
.showcase .text {
  padding: 0 2em;
}
.showcase h2 {
  margin-top: 0;
}
.showcase a {
  color: #555555;
  font-weight: 500;
}
.nfts div {
  max-width: 290px;
  background-color: #eeeeee;
  border-radius: 16px;
}
.bid-info {
  display: flex;
  padding: 1.5em;
  justify-content: space-between;
}
.bid-info h6 {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #777777;
}
h6#orange {
  color: #ff8139;
  margin: 0;
}
#bold {
  font-weight: 500;
  font-size: 20px;
  color: #111111;
  margin: 0;
}
.bid-info p {
  color: #777777;
  margin: 0;
}
div.bid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nfts {
  display: flex;
  padding: 2em;
  gap: 40px;
  overflow: scroll;
}
footer {
  padding-left: 2em;
}
footer .upsell {
  width: 100%;
  position: relative;
  overflow: hidden;
}
footer .upsell h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 0.3em;
}
footer .upsell img {
  position: absolute;
  top: 120px;
  right: -30px;
}
footer .text button {
  margin-top: 1em;
}
footer .text {
  width: 54%;
  padding-bottom: 4em;
}
div.left {
  padding: 2em 0;
}
.left i {
  height: 18px;
  color: #999999;
  padding-right: 0.3em;
}
.right nav {
  display: flex;
  flex-wrap: wrap;
}
.right ul {
  flex-basis: 40%;
  justify-content: flex-start;
  padding: 0;
}
.right h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #555555;
  text-align: left;
  padding-bottom: 1em;
  margin: 0;
}
.right li {
  list-style: none;
  padding: 0.5em 0;
}
.bottom p {
  line-height: 100%;
  color: #999999;
  margin: 2em 0;
}
.bottom p#launching-date {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 5rem;
  }
  header i {
    display: none !important;
  }
  header nav {
    display: block;
  }
  header a {
    padding-right: 1em;
  }
  header {
    padding: 4.4rem 0;
  }
  .hero {
    padding-right: 0;
    padding-bottom: 7em;
    overflow: auto;
  }
  .hero .text {
    flex-basis: 50%;
    padding-left: 0;
    padding-top: 5em;
  }
  .text h1 {
    font-size: 96px;
    line-height: 116px;
    margin: 1.5rem 0;
  }
  .hero img {
    position: relative;
    top: 80px;
    height: 720px;
    right: -30px;
  }
  section.upsell {
    padding: 4rem;
    border-radius: 16px;
  }
  .upsell h2,
  p {
    align-self: flex-start;
  }
  img[alt="OpenDoor"] {
    display: block;
  }
  .press a:first-child {
    width: auto;
  }
  section.press {
    padding: 5rem 0;
  }
  .showcase .text {
    padding: 0;
  }
  .showcase .nfts {
    padding: 2em 0;
    overflow-y: hidden;
  }
  footer .upsell .text {
    width: 46%;
  }
  footer .upsell {
    flex-basis: 100%;
    padding-top: 7em;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    margin-top: 3em;
  }
  footer .upsell img {
    right: 100px;
  }
  footer .upsell {
    padding-bottom: 4em;
  }
  footer {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .left,
  .right {
    flex-basis: 50%;
    padding-top: 4em;
  }
  .left {
    align-self: flex-end;
  }
  .right ul {
    flex-basis: auto;
    gap: 4em;
  }
  .right nav {
    justify-content: space-between;
  }
  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
  }
}
